<!DOCTYPE html>
<html lang="en">
<main>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    {% with messages = get_flashed_messages(with_categories=true %}
    {%if messages%}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {%end for%}
    </div>
    {% endif %}
    {% endwith %}
    <table>
        <thead>
            <tr>
                <th>CÓDIGO</th>
                <th>TÍTULO</th>
                <th>AUTOR</th>
                <th>ANO DE PUBLICAÇÃO</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros%}
            <tr>
                    <td>{{livro[0]}}</td>
                    <td>{{livro[1]}}</td>
                    <td>{{livro[2]}}</td>
                    <td>{{livro[3]}}</td>
                    <td>
                        <a href="{{ url_for('editar', id=livro[0] }}">Editar</a>
                        <form action="{{ url_for('deletar', id=livro[0] }}" method="post" style="display:inline">
                            <button type="submit">DELETAR</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>